@model MVC3.Models.Product
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>BFS_Result</title>
</head>
<body>
    <div>
        @ViewBag.ST
       123
    </div>
</body>
</html>
